$yellow-color : #f1c40f;
$gray-color : #fafafc;
$border-radius : 3px;


@mixin flexBox($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin transition {
    transition-timing-function: ease-in-out;
    transition-duration: 0.5s;

}


body{
    margin: 0;
    background-color: $gray-color;
}


input{
    padding-left:3px;
}

.navbar{
    margin: 0;
    padding-bottom: 50 !important;
    height : 90vh;

    .bottom-white-section{
        @include flexBox(row);
        justify-content: flex-start;



       .icons{
            margin-left : 25%;

            .white-section-icon{
                font-size : 20px;
                padding-left : 15px;
                @include transition();
            }

            .white-section-icon:hover{
                color : $yellow-color;
                cursor: pointer;
            }
       }
        
    }


    .navbar-image{
        height : 100%;
        width : 100%;
    }
    
    .header{
        height : 100px;
        width : 100%;
        top : 0;
        position: absolute;
        background: rgba( 0, 0, 0, 0.40 );       
        backdrop-filter: blur( 5.5px );
        @include flexBox(row);


        .menu-icon2{
            visibility: hidden;
        }
        .menu-icon{
            visibility: hidden;
        }

        ul{
            list-style-type: none;
            display: flex;
            color : white;
            margin-left : 200px;

            li{
                padding-left : 35px;
                font-size : 14px;
            }

            li:last-child{
                color : black;
                z-index : 5;
                font-weight: bold;
            }
        }
        
        
    }


    .left-side{
        width : 50%;
        height : 90vh;
        position : absolute;
        top:0;
        clip-path: polygon(0% 0%, 66% 0, 100% 50%, 63% 100%, 0% 100%);
        background: rgba( 0, 0, 0, 0.40 );       

        @include flexBox(row);


        .finde-properties{
            width : 350px;
            height : 250px;
            background-color: $yellow-color;
            margin-right : 100px;
            border-radius: $border-radius;


            @for $i from 1 to 4 {
                .inputs-#{$i}{
                    padding : 15px;
                    @include flexBox(row);
                    justify-content: space-around;
                    @if $i == 1 {
                        padding-top:30px;
                    }

                    .properties-input{
                        border: none;
                        outline: none;
                        width: 45%;
                        height : 28px;
                        border-radius: $border-radius;
                        background-color: $gray-color;
                    }
                }
            }


            .submit-form{
                @include flexBox(row);

                .submit-button{
                    i{
                        margin-right : 10px;
                    }
                    width : 87%;
                    height : 35px;
                    background-color: black;
                    border-radius: $border-radius;
                    @include flexBox(row);
                    color : white;
                    font-size : 15px;
                }
            }
            
        }
    }


    .right-side{
        width : 50%;
        height : 90%;
        position : absolute;
        top:0;
        right:0;
        
        clip-path: polygon(100% 0, 100% 50%, 100% 100%, 41% 100%, 66% 50%, 45% 0);
        background: rgba( 0, 0, 0, 0.40 );       


        .right-side-top{
            width : 100%;
            height : 100px;
            background-color: $yellow-color;
        }
    }


    .bottom-white-section{
        background-color: $gray-color;
        width : 68.9%;
        right : 0;
        height : 100px;
        position: absolute;
        top : 0;
        margin-top : 75vh;

        clip-path: polygon(9.4% 0, 100% 0%, 100% 100%, 0% 100%);
    }
}

.main-1{
    width : 100%;
    height : 100%;
    background-color: blue;
    background-color: $gray-color;
    @include flexBox(row);
    justify-content: space-around;
    
    .text-read-more{
        width : 40%;
        height: 100%;
        margin-left : 100px;

        .title{
            margin-top:50px;
        }

        .description{
            color : gray;
            margin-top : 40px;
            width : 70%;
            text-align: justify;
        }

        .button{
            @include flexBox(row);
            width : 30%;
            height : 30px;
            background-color: $yellow-color;
            border-radius: $border-radius;
            margin-top : 30px;
        }
    }

    .contact-now-1{
        width : 20%;
        height:100%;
        position: relative;
        margin-right : 50px;
        margin-top:50px;

        .image-cover-container{
            width:100%;
            height: fit-content;
            position: relative;

            img{
                width : 100%;
                height : 100% !important;
                border-radius: $border-radius;
            }
    
            .contact-1-cover{
                width : 100%;
                height: 100% !important;
                position: absolute;
                @include flexBox(row);
                color : white;
                font-size : 20px;
                border-radius: $border-radius;
                background: rgba( 0, 0, 0, 0.60 ); 
                padding-bottom: 0px !important; 
               
            }
        }
        

        p{
            text-align: left;
            width : 90%;
            padding-left : 10px;
            color : gray;
            line-height: 30px;
        }

        .button{
            width : 50%;
            height : 30px;
            background-color : black;
            color : white;
            @include flexBox(row);
            border-radius: $border-radius;
        }
    }

    .contact-now-2{
        width : 20%;
        height: 100%;
        margin-right : 100px;

        .one{
            margin-top : 50px;
            position: relative;

            .cover-2-1{
                width : 100%;
                height : 100%;
                position: absolute;
                border-radius: $border-radius;
                color : white;
                font-size : 20px;

                background: rgba( 0, 0, 0, 0.60 );       
               
                @include flexBox(row);
            }

            img{
                
                width : 100%;
                height : 90px;
                border-radius: $border-radius;

            }
        }

        .two{
            margin-top : 10px;
            position: relative;

            .cover-2-2{
                width : 100%;
                height : 100%;
                position: absolute;
                border-radius: $border-radius;
                color : white;
                font-size : 18px;

                background: rgba( 0, 0, 0, 0.60 );       
                
                @include flexBox(row);
                text-align : center;
            }

            img{
                width : 100%;
                height : 150px;
            }
        }

        .button{
            width: 50%;
            height : 30px;
            color :white;
            background-color: black;
            border-radius: $border-radius;
            @include flexBox(row);
            margin-top : 50px;
        }
    }
}


.main-2{
    width : 100%;
    height:500px;
    margin-top : 100px;
    position: relative;

    .main-2-cover{
        position: absolute;
        width:100%;
        height : 100%;
      
        background: rgba( 0, 0, 0, 0.80 );       

    }

    img{
        width:100%;
        height : 100%;
    }

    .main-2-white-section{
        width:60%;
        height : 100px;
        background-color : $gray-color;
        position:absolute;
        bottom:0;
        margin-top:10px;
        margin-top : auto;
        clip-path: polygon(0 0, 50% 0, 61% 100%, 0 100%);
        
        @include flexBox(row);
        font-size : 30px;
        

        span{
            padding-bottom : 8px;
            margin-right : 350px;
            border-bottom: 2px solid $yellow-color;
        }
    }

    .main-2-text{
        margin-top:100px;
        position: absolute;
        top:0;
        right:0;
        color : white;


        .title-border-bottom{
            width:20%;
            height : 5px;
            background-color: $yellow-color;
            margin-top:20px;

        }

        .descriptioin{
            width:40%;
            height:50px;
            text-align:justify;
            color : $gray-color;
            margin-top:20px;
        }


        .button{
            width:30%;
            height : 30px;
            background-color: $yellow-color;
            color:black;
            margin-top:30px;
            border-radius: $border-radius;
            @include flexBox(row);
        }
    }

}


.main-3{
    width:100%;
    height:500px;
    margin-top:70px;
    @include flexBox(column);

    .box-top-text{
        visibility: hidden !important;
    }

    .boxes{
        width:70%;
        height:100%;
        @include flexBox(row);
        justify-content: space-around;
    }

    @for $j from 1 to 4 {
        .box-#{$j}{
            width:30%;
            height:300px;
           
            h1{
                font-size:22px;
            }
    
            p{
                color:gray;
                text-align:justify;
            }
    
            .learn-more{
                color:black;
                font-size:15px;
                width:fit-content;
                transition: 0.5s ease;
            }
    
            .learn-more:hover{
                color:$yellow-color;
                cursor:pointer;
            }
    
            img{
                width: 100%;
                height:200px;
                border-radius: $border-radius;
            }
            
        }
    }
}


.main-4{
    width:100%;
    height:120px;
    margin-top:100px;
    position: relative;

    .main-4-cover{
        width:100%;
        height:100%;
        position:absolute;
        background: rgba( 0, 0, 0, 0.60 );

        
        div{
            color:white;
            font-size:25px;
            @include flexBox(row);
            margin-right:20px;
            margin-top:15px;
        }

        .button{
            width:10%;
            height:30px;
            @include flexBox(row);
            color:black;
            border-radius: $border-radius;
            background-color: $yellow-color;
            font-size:16px;
            margin-left:20px;
        }
    }

    img{
        height: 100% !important;
        width:100% !important;
    }
}


.main-5{
    width:100%;
    height:100px;
    @include flexBox(column);
    margin-top:50px;

    h1{
        border-bottom:4px dotted $yellow-color;
        padding-bottom:10px;
    }
    div{
        ul{
            list-style-type: none;
            @include flexBox(row);

            li{
                padding-right:20px;
            }

            li:hover{
                color:$yellow-color;
                cursor: pointer;
                transition: 0.5s ease;
            }
        }
    }
}


.main-6{
    margin-top:100px;
    height:300px;
    width:100%;

    .one{
        @include flexBox(row);

        img{
            height: 50%;
            width:30%;
        }
    }

    .two{
        @include flexBox(row);

        img{
            height: 50%;
            width:30%;
        }
    }
}


.main-7{
    margin-top:400px;
    @include flexBox(column);

    div{
        width:25%;
        height: 100%;


        p{
            width:100%;
            color:gray;
        }
    
        .email-input{
            width:100%;
            height:30px;
            background-color: white;
            border : none;
            outline : none;
            box-shadow: 0px 0px 10px lightgray;
            border-radius: $border-radius;
            margin-top:20px;
        }
    
    
        .button{
            width:100%;
            height:30px;
            background-color: $yellow-color;
            color:black;
            @include flexBox(row);
            margin-top:20px;

        }
    }
}


footer{
    height:80px;
    background: rgba( 0, 0, 0, 0.70 );       
    backdrop-filter: blur( 5.5px );
    -webkit-backdrop-filter: blur( 5.5px );
    margin-top:100px;

    @include flexBox(row);
    color:white;

    span{
        color:$yellow-color;
        margin-right:5px;
        margin-left:5px;
    }
}


@media (max-width:600px){
    .navbar{
        .icons{
            visibility: hidden;
        }

        .left-side{
            .finde-properties{
                visibility: hidden !important;
            }
        }

        .header{
            background: rgba( 0, 0, 0, 0.95 );       
            z-index: 5;
            height: 0;
            display: unset;
            transition: 1s ease;
            overflow: hidden;
            

            .menu-icon2{
                float: right;
                margin-right:20px;
                margin-top:20px;
                font-size:25px;
                visibility: visible
            }

            .navbar-ul{
                @include flexBox(column);
                position: absolute;
                margin-top:100px;

                li{
                    padding-top:50px;
                    margin-right:20px;
                }

                li:hover{
                    color:$yellow-color;
                    cursor: pointer;
                }
            }
        }

        .right-side{
            .right-side-top{
                .menu-icon{
                    position: absolute;
                    right:0;
                    display: block;
                    float: right;
                    margin-left: auto;
                    margin-right:20px;
                    margin-top:20px;
                    font-size:25px;

                    
                }
            }
        }
    }


    .main-1{
        flex-direction: column;
        width:100%;
        justify-content: flex-end !important;
        
        .text-read-more{
            width:70%;
            margin-left:0;
            margin-top:70px;


            .title{
                font-size:25px;
            }

            .description{
                font-size:15px;
            }
        }

        .contact-now-1{
            width: 70%;
            margin-right:0;
            margin-top:70px;
        }

        .contact-now-2{
            width:70%;
            margin-right:0;
            margin-top:50px;
        }
    }


    .main-2{
        width:100%;
        height:80%;

        .main-2-text{
            margin-top:10px;
            margin-left:40%;

           h1{
               font-size:25px;
           }

           .title-border-bottom{
               height:2px;
               width:40%;
           }

           .descriptioin{
               font-size:15px;
               width:90%;
           }
        }

        .main-2-white-section{
            height:70px !important;

            .white-section-text{
                display: none;
            }
        }
    }


    .main-3{
        .box-top-text{
            padding-bottom : 8px;
            border-bottom: 2px solid $yellow-color;
            font-size:30px;
        }

        .boxes{
            width:100%;
        }

        @for $nu from 1 to 4 {
            .box-#{$nu}{
                h1{
                    font-size:18px;
                }

                p{
                    height:140px;
                    overflow: hidden;
                    text-align:left;
                }
            }
        }
    }


    .main-4{
        .main-4-cover{
            div{
                width:100%;

                p{
                    font-size:21px;
                    width:80%;
                    text-align:center;
                }

                .button{
                    width:20%;

                }
            }
        }
    }

    .main-7{
        margin-top:0;
        div{
            @include flexBox(column);
            width:80%;
            text-align: center;
        }
    }

    
}

@media (min-width:600px) and (max-width:992px){
    .navbar{
        .header{
            .navbar-ul{
                z-index: 20;
                margin-left:0;
                margin-right:120px;
                li{
                    font-size:12px !important;
               }
            }
        }

        .finde-properties{
            margin-right:30px !important;
            width:70% !important;
        }

        .bottom-white-section{
            .icons{
                margin-left:30px;
            }
        }
    }

    .main-1{
        

        .text-read-more{
            width: 80% !important;
            margin-left:20px;
            margin-right:20px !important;
            .button{
                width:50%;
            }
            h1{
                font-size:18px;
            }
        }

        .contact-now-1{
            width:80%;
            margin-right:20px !important;
        }

        .contact-now-2{
            width:80%;
            margin-right:20px !important;
        }
    }

    .main-2{
        .white-section-text{
            font-size:25px !important;
            margin-right:180px !important;
        }

        .main-2-text{
            margin-left:40%;

            .button{
                margin-top:50px;
            }
        }
    }
    .main-3{
        margin-top:0;
        .boxes{
            width:95%;
            @for $nu from 1 to 4 {
                .box-#{$nu}{
                    width: 30%;
                    h1{
                        font-size:18px;
                    }
    
                    p{
                        height:140px;
                        overflow: hidden;
                        text-align:left;
                    }
                }
            }
        }
        
    }

    .main-7{
        margin-top:100px;
        
        div{
            width:70%;

            .button{
                width: 100%;
            }
        }
        
    }
}


@media (min-width:992px) and (max-width:1100px){
    .main-7{
        margin-top:150px;
    }
}