@font-face {
  font-family: yekan;
  src: url("../font/yekan5.ttf");
}

body {
  margin: 0;
  background-color: #eff1f5;
  font-family: yekan;
}

.header-navbar-container {
  width: 100%;
  height: 180px;
  background-color: yellow;
}

.header-navbar-container .header {
  background-color: white;
  width: 100%;
  height: 100px;
  border-bottom: 1.5px solid #eee;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header-navbar-container .header .header-icon {
  width: 70px;
  height: 70%;
  float: right;
  margin-right: 20px;
}

.header-navbar-container .header .login-signup {
  background-color: #ebeef2;
  border-radius: 3px;
  width: 11%;
  height: 30px;
  padding: 5px;
  color: gray;
  position: absolute;
  left: 0;
  margin-left: 110px;
  cursor: pointer;
}

.header-navbar-container .header .login-signup .login-signup-icon {
  float: right;
  color: #161616;
  font-size: 29px;
  margin-right: 6px;
}

.header-navbar-container .header .login-signup .login-signup-text {
  position: absolute;
  color: black;
  font-size: 16px;
  padding-left: 16px;
  margin-top: 4px;
}

.header-navbar-container .header .cart {
  background-color: #673ab7;
  width: 30px;
  height: 30px;
  padding: 7px;
  border-radius: 3px;
  margin-right: auto;
  margin-left: 20px;
  cursor: pointer;
}

.header-navbar-container .header .cart .cart-icon {
  color: white;
  font-size: 30px;
}

.header-navbar-container .header .search-box {
  margin: 0;
  border: none;
  margin-right: 350px;
  background-color: #ebeef2;
  width: 380px;
  height: 40px !important;
  border-radius: 3px;
}

.header-navbar-container .header .search-box .search-input {
  height: 38px !important;
  width: 86%;
  border: none;
  background-color: #ebeef2;
  direction: rtl;
  float: right;
  color: gray;
  padding-right: 10px;
  font-size: 16px;
  border-radius: 3px;
}

.header-navbar-container .header .search-box .search-input:focus {
  border: none;
  outline: none;
}

.header-navbar-container .header .search-box .search-icon {
  color: #bfbfbf;
  font-size: 28px;
  margin-top: 8px;
  margin-left: 6px;
}

.header-navbar-container .navbar {
  background-color: white;
  width: 100%;
  height: 80px;
  direction: rtl;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-navbar-container .navbar .products-category {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 6px;
}

.header-navbar-container .navbar .phone-number {
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header-navbar-container .navbar .phone-number .call-icon {
  color: #673ab7;
  font-size: 30px;
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.header-navbar-container .navbar .phone-number .phone-number-text {
  font-size: 17px;
  margin-top: 10px;
  margin-left: 10px;
}

.header-navbar-container .navbar > * {
  padding: 13px;
  cursor: pointer;
}

.header-navbar-container .navbar > *:hover {
  color: #673ab7;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.carousels {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 30px;
  height: 440px;
}

.carousels .products {
  width: 20%;
  height: 100%;
  background-color: white;
  border-radius: 3px;
  position: relative;
  margin-right: 10px;
}

.carousels .products .product-1 {
  width: 100%;
  height: 100%;
}

.carousels .products .product-1 .product-image-1 {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.carousels .products .product-1 .product-image-1 img {
  height: 70%;
  width: 50%;
}

.carousels .products .product-1 .product-body-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-right: 10px;
}

.carousels .products .product-1 .product-body-1 .product-score-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  padding-right: 10px;
}

.carousels .products .product-1 .product-body-1 .product-score-1 span:nth-child(1) {
  margin-top: 5px;
  margin-right: 3px;
  font-size: 14px;
  color: gray;
}

.carousels .products .product-1 .product-body-1 .product-score-1 span:nth-child(2) {
  color: #ffc107;
}

.carousels .products .product-1 .product-body-1 .product-caption-1, .carousels .products .product-1 .product-body-1 .product-des-1 {
  text-align: right;
  direction: rtl;
  max-width: 95%;
  padding-right: 10px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin-top: 15px;
}

.carousels .products .product-1 .product-body-1 .product-des-1 {
  color: gray;
  direction: ltr !important;
  text-align: left !important;
}

.carousels .products .product-1 .product-body-1 .product-price {
  width: 100%;
  color: #4b4b4b;
  text-align: center;
  direction: rtl;
  margin-top: 15px;
  font-size: 18px;
}

.carousels .products .product-1 .product-body-1 .product-price:hover {
  color: #ffc107;
  cursor: pointer;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.carousels .products .product-1 .product-body-1 .add-to-cart {
  width: 90%;
  height: 45px;
  margin-top: 20px !important;
  padding-right: 10px;
}

.carousels .products .product-1 .product-body-1 .add-to-cart .add-to-cart-button {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden !important;
  cursor: pointer;
  float: right;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-duration: 0.8s !important;
          transition-duration: 0.8s !important;
}

.carousels .products .product-1 .product-body-1 .add-to-cart .add-to-cart-button span:nth-child(1) {
  float: right;
  color: gray;
  font-size: 23px;
}

.carousels .products .product-1 .product-body-1 .add-to-cart .add-to-cart-button span:nth-child(2) {
  color: gray;
  margin-right: 5px;
  font-size: 14px;
}

.carousels .products .product-1 .product-body-1 .add-to-cart .cart-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  width: 50px;
  margin-top: 10px;
}

.carousels .products .product-1 .product-body-1 .add-to-cart .cart-tools span {
  font-size: 20px;
  color: gray;
  padding: 5px;
  border-radius: 50%;
}

.carousels .products .product-1 .product-body-1 .add-to-cart .cart-tools span:hover {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #eaeaea;
  cursor: pointer;
}

.carousels .products .product-2 {
  width: 100%;
  height: 100%;
}

.carousels .products .product-2 .product-image-2 {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.carousels .products .product-2 .product-image-2 img {
  height: 70%;
  width: 50%;
}

.carousels .products .product-2 .product-body-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-right: 10px;
}

.carousels .products .product-2 .product-body-2 .product-score-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  padding-right: 10px;
}

.carousels .products .product-2 .product-body-2 .product-score-2 span:nth-child(1) {
  margin-top: 5px;
  margin-right: 3px;
  font-size: 14px;
  color: gray;
}

.carousels .products .product-2 .product-body-2 .product-score-2 span:nth-child(2) {
  color: #ffc107;
}

.carousels .products .product-2 .product-body-2 .product-caption-2, .carousels .products .product-2 .product-body-2 .product-des-2 {
  text-align: right;
  direction: rtl;
  max-width: 95%;
  padding-right: 10px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin-top: 15px;
}

.carousels .products .product-2 .product-body-2 .product-des-2 {
  color: gray;
  direction: ltr !important;
  text-align: left !important;
}

.carousels .products .product-2 .product-body-2 .product-price {
  width: 100%;
  color: #4b4b4b;
  text-align: center;
  direction: rtl;
  margin-top: 15px;
  font-size: 18px;
}

.carousels .products .product-2 .product-body-2 .product-price:hover {
  color: #ffc107;
  cursor: pointer;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.carousels .products .product-2 .product-body-2 .add-to-cart {
  width: 90%;
  height: 45px;
  margin-top: 20px !important;
  padding-right: 10px;
}

.carousels .products .product-2 .product-body-2 .add-to-cart .add-to-cart-button {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden !important;
  cursor: pointer;
  float: right;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-duration: 0.8s !important;
          transition-duration: 0.8s !important;
}

.carousels .products .product-2 .product-body-2 .add-to-cart .add-to-cart-button span:nth-child(1) {
  float: right;
  color: gray;
  font-size: 23px;
}

.carousels .products .product-2 .product-body-2 .add-to-cart .add-to-cart-button span:nth-child(2) {
  color: gray;
  margin-right: 5px;
  font-size: 14px;
}

.carousels .products .product-2 .product-body-2 .add-to-cart .cart-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  width: 50px;
  margin-top: 10px;
}

.carousels .products .product-2 .product-body-2 .add-to-cart .cart-tools span {
  font-size: 20px;
  color: gray;
  padding: 5px;
  border-radius: 50%;
}

.carousels .products .product-2 .product-body-2 .add-to-cart .cart-tools span:hover {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #eaeaea;
  cursor: pointer;
}

.carousels .products .product-3 {
  width: 100%;
  height: 100%;
}

.carousels .products .product-3 .product-image-3 {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.carousels .products .product-3 .product-image-3 img {
  height: 70%;
  width: 50%;
}

.carousels .products .product-3 .product-body-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
  padding-right: 10px;
}

.carousels .products .product-3 .product-body-3 .product-score-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 10px;
  padding-right: 10px;
}

.carousels .products .product-3 .product-body-3 .product-score-3 span:nth-child(1) {
  margin-top: 5px;
  margin-right: 3px;
  font-size: 14px;
  color: gray;
}

.carousels .products .product-3 .product-body-3 .product-score-3 span:nth-child(2) {
  color: #ffc107;
}

.carousels .products .product-3 .product-body-3 .product-caption-3, .carousels .products .product-3 .product-body-3 .product-des-3 {
  text-align: right;
  direction: rtl;
  max-width: 95%;
  padding-right: 10px;
  padding-left: 20px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  margin-top: 15px;
}

.carousels .products .product-3 .product-body-3 .product-des-3 {
  color: gray;
  direction: ltr !important;
  text-align: left !important;
}

.carousels .products .product-3 .product-body-3 .product-price {
  width: 100%;
  color: #4b4b4b;
  text-align: center;
  direction: rtl;
  margin-top: 15px;
  font-size: 18px;
}

.carousels .products .product-3 .product-body-3 .product-price:hover {
  color: #ffc107;
  cursor: pointer;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.carousels .products .product-3 .product-body-3 .add-to-cart {
  width: 90%;
  height: 45px;
  margin-top: 20px !important;
  padding-right: 10px;
}

.carousels .products .product-3 .product-body-3 .add-to-cart .add-to-cart-button {
  width: 100%;
  height: 100%;
  border-radius: 40px;
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  overflow: hidden !important;
  cursor: pointer;
  float: right;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  -webkit-transition-duration: 0.8s !important;
          transition-duration: 0.8s !important;
}

.carousels .products .product-3 .product-body-3 .add-to-cart .add-to-cart-button span:nth-child(1) {
  float: right;
  color: gray;
  font-size: 23px;
}

.carousels .products .product-3 .product-body-3 .add-to-cart .add-to-cart-button span:nth-child(2) {
  color: gray;
  margin-right: 5px;
  font-size: 14px;
}

.carousels .products .product-3 .product-body-3 .add-to-cart .cart-tools {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute !important;
      justify-content: space-around !important;
  width: 50px;
  margin-top: 10px;
}

.carousels .products .product-3 .product-body-3 .add-to-cart .cart-tools span {
  font-size: 20px;
  color: gray;
  padding: 5px;
  border-radius: 50%;
}

.carousels .products .product-3 .product-body-3 .add-to-cart .cart-tools span:hover {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  background-color: #eaeaea;
  cursor: pointer;
}

.carousels .images {
  width: 75%;
  background-color: yellow;
}
/*# sourceMappingURL=index.css.map */