$gray-color : #ebeef2;
$purpul-color : #673ab7;
$yellow-color : #ffc107;
$body-background-color : #f4f6f8;
$border-radius:3px;



@mixin flexBox($direction) {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: $direction;
}

@mixin transition {
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;

}


@font-face {
    font-family: yekan;
    src: url("../font/yekan5.ttf");
}


body{
    margin : 0;
    background-color: #eff1f5;
    font-family: yekan;
}


.header-navbar-container{
    width: 100%;
    height : 180px;

    .header{
        background-color: white;
        width : 100%;
        height : 100px;
        border-bottom : 1.5px solid #eee;
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        

        .header-icon{
            width : 70px;
            height : 70%;
            float : right;
            margin-right : 20px;
        }


        .login-signup{
            background-color: $gray-color;
            border-radius: 3px;
            width:11%;
            height : 30px;
            padding : 5px;
            color : gray;
            position: absolute;
            left : 0;
            margin-left : 110px;
            cursor: pointer;

            .login-signup-icon{
                float: right;
                color : rgb(22, 22, 22);
                font-size : 29px;
                margin-right : 6px;
            }

            
            .login-signup-text{
                position : absolute;
                color : black;
                font-size : 16px;
                padding-left : 16px;
                margin-top : 4px;
            }
        }


        .cart{
            background-color: $purpul-color;
            width : 30px;
            height: 30px;
            padding : 7px;
            border-radius: 3px;
            margin-right : auto;
            margin-left : 20px;
            cursor:pointer;

            .cart-icon{
                color : white;
                font-size : 30px;
            }
        }

        

        .search-box{
            margin : 0;
            border : none;
            margin-right : 350px;
            background-color: $gray-color;
            width : 380px;
            height : 40px !important;
            border-radius: 3px;


            .search-input{
                height : 38px !important;
                width : 86%;
                border : none;
                background-color: $gray-color;
                direction : rtl;
                float: right;
                color : gray;
                padding-right : 10px;
                font-size : 16px;
                border-radius: 3px;
            }

            .search-input:focus{
                border: none;
                outline: none;
            }

            .search-icon{
                color : #bfbfbf;
                font-size: 28px;
                margin-top: 8px;
                margin-left: 6px;
            }
        }
    }

    .navbar{
        background-color: white;
        width : 100%;
        height : 80px;
        direction: rtl;
        display: flex;
        align-items: center;

        .products-category{
            display: flex;
            width:fit-content;
            height: fit-content;
            margin-right : 6px;

        }

        .phone-number{
            margin-right : auto;
            @include flexBox(row-reverse);

            .call-icon{
                color : $purpul-color;
                font-size : 30px;
                transform: rotate(10deg);
            }

            .phone-number-text{
                font-size : 17px;
                margin-top : 10px;
                margin-left : 10px;
            }
        }

       
    }


    .navbar>*{
        padding : 13px;
        cursor: pointer;
    }

    .navbar>*:hover{
        color : $purpul-color;
        @include transition();
    }
}


.carousels{
    @include flexBox(row);
    justify-content: space-around;
    margin-top:30px;
    height: 440px;


    .products{
        width:20%;
        height:100%;
        background-color:white;
        border-radius: $border-radius;
        position: relative;
        margin-right:10px;

        @for $product from 1 to 4 {

            .product-#{$product}{
                width:100%;
                height:100%;

               

                .product-image-#{$product}{
                    height:200px;
                    width:100%;
                    @include flexBox(row);

                    img{
                        height:70%;
                        width:50%;
                    }
                }

                .product-body-#{$product}{
                    @include flexBox(column);
                    align-items: flex-end;
                    width:100%;
                    padding-right:10px;


                    .product-score-#{$product}{
                        @include flexBox(row);
                        margin-top:10px;
                        padding-right:10px;

    
                        span:nth-child(1){
                            margin-top:5px;
                            margin-right:3px;
                            font-size:14px;
                            color:gray;
                        }
    
                        span:nth-child(2){
                            color:$yellow-color;
                        }
                    }
    
    
                    .product-caption-#{$product}{
                        text-align: right;
                        direction:rtl;
                        max-width:95%;
                        padding-right:10px;
                        padding-left:20px;
                        white-space: nowrap; 
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size:16px;
                        margin-top:15px;
                    }

                    
                    .product-des-#{$product}{
                        @extend .product-caption-#{$product};
                        color:gray;
                        direction:ltr !important;
                        text-align:left !important;
                    }


                    .product-price{
                        width:100%;
                        color:rgb(75, 75, 75);
                        text-align: center;
                        direction: rtl;
                        margin-top:15px;
                        font-size:18px;

                        &:hover{
                            color:$yellow-color;
                            cursor: pointer;
                            @include transition();
                        }
                    }


                    .add-to-cart{
                        width:90%;
                        height:45px;
                        margin-top: 20px !important;
                        padding-right:10px;

                        .add-to-cart-button{
                            width:100%;
                            height:100%;
                            border-radius: 40px;
                            background-color: rgb(234, 234, 234);
                            @include flexBox(row-reverse);
                            overflow: hidden !important;
                            cursor: pointer;
                            float: right;
                            @include transition();
                            transition-duration: 0.8s !important;


                            span:nth-child(1){
                                float:right;
                                color:gray;
                                font-size:23px;

                            }

                            span:nth-child(2){
                                color:gray;
                                margin-right:5px;
                                font-size:14px;
                            }
                        }


                        .cart-tools{
                            @include flexBox(row);
                            justify-content: space-around !important;
                            width:50px;
                            margin-top:10px;
                          
                            span{
                                font-size:20px;
                                color:gray;
                                padding: 5px;
                                border-radius: 50%;

                                &:hover{
                                    @include transition();
                                    background-color: rgb(234, 234, 234);
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                }
            }

            
        }
    }

    .images{
        width:75%;
        height:100%;
        position: relative;
        border-radius: $border-radius;

        img{
            height: 440px;
            border-radius: $border-radius;
        }
    }
}


.categories{
    width:98%;
    height: 110px;
    margin:50px auto 0 auto;
    @include flexBox(row);
    justify-content: space-between !important;
    padding:0 !important;


    div{
        @include flexBox(column);
        height:100%;
        width:15%;
        background-color: white;
        border-radius: $border-radius;

        &:hover{
            @include transition();
            cursor: pointer;
            background-color: $purpul-color;
            color:white;
        }

        span:nth-child(2){
            margin-top:15px;
        }
    }
}


.amazing-offer{
    width:98%;
    height: 50px;
    margin: 80px auto 0 auto;
    border-radius: $border-radius;
    background-color: white;
    position: relative;

    display: flex;
    align-items: center;
    flex-direction: row-reverse;

    span{
        margin-left: auto;
        margin-right:15px;
    }

    div{
        @include flexBox(row);
        margin-left:15px;
        font-size:13px;
        padding: 5px;
        background-color: $gray-color;
        width:90px;
        border-radius: $border-radius;

        span:nth-child(1){
            font-size:16px;
        }

        &:hover{
            background-color:$yellow-color;
            color:white;
            cursor: pointer;
            @include transition();
        }

        *{
            padding:0;
            margin:0;
        }
    }
}


.buy-month{
    width:98%;
    margin:50px auto 0 auto;

    img{
        width:100%;
        border-radius: $border-radius;
    }
}

.footer{
    margin-top:100px;
    background-color: white;

    .properties{
        padding-top:30px;
        @include flexBox(row);
        justify-content: space-around;
        border-bottom: 2px dashed $gray-color;
        padding-bottom : 40px;


        .property{
            @include flexBox(column);

            img{
                width:50px;
                height:50px;
            }

            span{
                padding-top:20px;
            }
        }

    }

    .descriptions{
        @include flexBox(row-reverse);
        justify-content: space-around;
        align-items: flex-start;
        margin-top:50px;

        .timche-online{
            width:40%;
            text-align: justify;
            direction: rtl;

            span{
                font-size:25px;
            }

            p{
                color:gray;
                word-spacing: 5px;
            }
        }

        .with-timche{
            margin-right:60px;


            span{
                font-size:25px;
            }

            ul{
                list-style-type: none;
                text-align : right;
                color:gray;

                li{
                    padding-bottom : 5px;
                }
            }
        }

        .contact-us{
            text-align: right;
            margin-right:100px;
            margin-top:0;
    
            .contact-us-text{
                font-size: 25px;
            }
    
            div{
                @include flexBox(row);
                justify-content: flex-start;
                direction: rtl;
                color:gray;
                padding-top:20px;
    
                span:nth-child(2){
                    padding-right:10px;
                }
            }
        }
    }

    footer{
        background-color: lightgray;
        height:80px;
        margin-top:90px;

        direction: rtl;
        text-align: right;
        @include flexBox(row);

        span{
            color:$purpul-color;
            padding-right:2px;
            padding-left:2px;
        }
    }
    
}



   